*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#demo{
    background-color: #dadde6;
    justify-items: center;
}
#demo > div{
    padding: 10px;
}
h1{
    text-align: center;
    color: #1a1aca;
    margin-bottom: 10px;
}
input,button{
    padding: 10px 20px;
    margin: 10px;
   border-radius: 30px;
   background-color: rgb(207, 158, 198);
   border: none;
   color: black;
   
}
 
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}
